body {
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 30px;
}

h2 {
    text-align: center;
    font-weight: bold;
    padding: 1.5em 0;
}

h3 {
    text-align: left;
    padding: 0 0 2em 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

#home-main {
    padding: 5em 0;
}

.navbar-brand {
    font-size: 18px;
    letter-spacing: 1px;
}

.about-my-pet {
    padding: 12em 0;
    background-color: #ece9f0;
}

.personality {
    padding: 4em;
}

.list-group-item {
    background-color: #f3f1f7;
}
.cat-card {
    margin: 4em 0;
}

.card-body{
    background-color: #242424;
    color: #ffff;
}

.insights {
    margin: 2em 0;
    padding: 2em 0 2em 0;
    background-color: #242424;
    color: #ffff;
}

.baby-pictures { 
    padding: 0 0 20em 0;
}

.baby-pic {
    transition: 0.3s transform ease;
}

.baby-pic:hover {
    transform: scale(1.2);
}

.row {
    gap: 2em;
}